body{
    display: block;
    font-size: 16px;
}
.header{
    height: 4%;
    width: 100%;
    background-color: rgb(60, 83, 104);
    display: inline-block;
    padding: 1% 1% 1% 2%;
}
.header p{
    color: white;
}
.menu{
    float: right;
}    
.content{
}
.footer{
    width: 100%;
    background-color: rgb(60, 83, 104);
    display: inline-block;
    padding: 1% 1% 1% 2%;
}
.footer p{
    color: white;
}